.staff {
    text-align: center;
    .employee{
        h1 {
            padding-top: 105px;
            padding-bottom: 110px;
        }
        h3 {
            font-size: 5px;
            padding-bottom: 16px;
            letter-spacing: 0.3em;
        }
        a {
            text-decoration: none;
            color: #231815;
            letter-spacing: 0.4em;
            &:hover {
                color: #5A5250;
            }
        }
        p {
            font-size: 42px;
        }
        span{
            display: block;
            font-size: 15px;
            padding-top: 12px;
        }

        &__name {
            width: 300px;
            margin: 0 auto;
        }

        &__mark {
            padding-top: 50px;
            padding-bottom: 50px;
            img {
                width: 1.2%;
            }
        }

    }

}