/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 5px 67px 7px 13px;
}

.header__nav li {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  padding: 0 7px 0 15px;
  border-left: 1px solid;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.header__nav li:last-child {
  border-right: 1px solid;
  padding-right: 15px;
}

.header__nav a {
  text-decoration: none;
  color: #ffffff;
}

.header__nav a:hover {
  color: #999999;
}

.header__img {
  padding-top: 10px;
  width: 125px;
  margin-left: auto;
}

.index {
  text-align: center;
  height: 100vh;
}

.index .top {
  width: 530px;
  margin: 250px auto 0;
}

.index .top__mark {
  padding-bottom: 38px;
}

.index .top__nav {
  padding-top: 21.5px;
}

.index .top__nav li {
  font-size: 14px;
  display: inline-block;
  padding: 0 7px 0 15px;
  border-left: 1px solid;
}

.index .top__nav li:last-child {
  border-right: 1px solid;
  padding-right: 15px;
}

.index .top__nav li a {
  text-decoration: none;
  color: #231815;
  letter-spacing: 0.1em;
}

.index .top__nav li a:hover {
  color: #999999;
}

.index .footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}

.philosophy .content {
  margin-top: 105px;
  text-align: center;
}

.philosophy .content img {
  width: 237px;
  height: auto;
  padding-bottom: 50px;
}

.philosophy .content p {
  line-height: 1.8;
  font-size: 16px;
  letter-spacing: 0.055em;
  padding-bottom: 37px;
}

.philosophy .content p:nth-child(4) {
  padding-bottom: 100px;
}

.philosophy .content p:nth-child(5) {
  font-size: 14px;
}

.philosophy .content p:last-child {
  padding-bottom: 110px;
}

.staff {
  text-align: center;
}

.staff .employee h1 {
  padding-top: 105px;
  padding-bottom: 110px;
}

.staff .employee h3 {
  font-size: 5px;
  padding-bottom: 16px;
  letter-spacing: 0.3em;
}

.staff .employee a {
  text-decoration: none;
  color: #231815;
  letter-spacing: 0.4em;
}

.staff .employee a:hover {
  color: #5A5250;
}

.staff .employee p {
  font-size: 42px;
}

.staff .employee span {
  display: block;
  font-size: 15px;
  padding-top: 12px;
}

.staff .employee__name {
  width: 300px;
  margin: 0 auto;
}

.staff .employee__mark {
  padding-top: 50px;
  padding-bottom: 50px;
}

.staff .employee__mark img {
  width: 1.2%;
}

.company {
  font-size: 12.5px;
  letter-spacing: 0.05em;
  line-height: 1.8em;
}

.company .company__inner {
  max-width: 800px;
  margin: 0 auto;
}

.company h1 {
  text-align: center;
  padding-top: 102px;
  padding-bottom: 65px;
}

.company .ja {
  float: left;
  text-align: left;
}

.company .en {
  float: right;
  text-align: left;
}

.company td {
  padding-bottom: 16px;
  padding-left: 50px;
}

.works {
  /*slick setting*/
}

.works .works__wrap {
  max-width: 800px;
  margin: 0 auto;
}

.works .works__wrap span {
  font-size: 14px;
  padding-top: 65px;
  letter-spacing: 0.3em;
}

.works .works__wrap h1 {
  font-size: 35px;
  padding-top: 16px;
  padding-bottom: 42px;
  letter-spacing: 0.4em;
}

.works .works__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .works__box:first-child {
  margin-top: 50px;
}

.works .works__box a {
  height: 100%;
  z-index: 99;
}

.works .works__box li {
  position: relative;
  color: #fff;
  width: calc(100% / 4 - 22px);
}

.works .works__box div {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(45, 46, 46, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.works .works__box p {
  text-align: center;
}

.works .works__list {
  margin-bottom: 22px;
  margin-right: 22px;
}

.works .works__list img {
  width: 183px;
  height: 143px;
}

.works table {
  margin-bottom: 50px;
}

.works th, .works td {
  font-size: 13px;
  padding-bottom: 10px;
}

.works td {
  padding-left: 14px;
}

.works .lifework {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

.works .lifework a {
  font-size: 9px;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
  color: #0D0D0D;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.works .link {
  pointer-events: none;
}

.works .link p {
  margin-top: 60px;
}

.works .fade {
  margin: 100px auto;
  width: 80%;
}

.works .fade img {
  height: auto;
  width: 100%;
}

.works .slick-prev:before,
.works .slick-next:before {
  color: #000;
}

.slick .slick__wrap {
  max-width: 796px;
  margin: 0 auto;
  padding-top: 40px;
}

.slick .slick__wrap img {
  width: 100%;
  height: 495px;
}

.slick .slick__wrap p {
  font-size: 10px;
  letter-spacing: 0.38em;
  padding-bottom: 15px;
}

.slick .slick__wrap h1 {
  font-size: 25px;
  letter-spacing: 0.45em;
  padding-bottom: 40px;
}

.slick .single-item {
  text-align: center;
}

.slick .single-item li {
  padding-bottom: 30px;
}

.slick span {
  border-bottom: 1px solid;
  padding-bottom: 1px;
  font-size: 12px;
}

.slick .worksindex {
  display: block;
  text-align: center;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */